streamlit
langchain
langchain-core
langchain-huggingface
langchain-experimental
langchain-chroma
langchain-milvus
pymilvus
grpcio
grpcio-tools
sentence-transformers
torch
PyMuPDF
python-docx
ftfy
chardet
python-dotenv
